Beautifulsoup4==4.3.2
tweepy==2.3.0
Django==1.7.4
django-annoying==0.8.0
django-m2m-history==0.2.2
django-oauth-tokens==0.4.12
django-picklefield==0.3.1
django-suit==0.2.12
django-taggit==0.12.2
django-twitter-api==0.2.3
docutils==0.12
oauthlib==0.7.2
python-twitter==2.2
requests==2.5.1
requests-oauthlib==0.4.2
six==1.9.0
suit==2.0.2
