Beautifulsoup4
tweepy
Django
django-annoying
django-m2m-history
django-oauth-tokens
django-picklefield
django-suit
django-taggit
django-twitter-api
docutils
oauthlib
-e git+https://github.com/bear/python-twitter.git#egg=python-twitter
requests
requests-oauthlib
six
django-suit
python-social-auth
psycopg2
redis
django-celery
