{% extends "admin/base_site.html" %}
{% load i18n admin_static %}


{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content-center %}
{% load twitter_tags %}

<script>
    $( document ).ready(function(){
        var ctx = $("#thread_chart").get(0).getContext("2d");
        data = {{user|get_thread_chart|safe}};
        var myNewChart = new Chart(ctx).Pie(data);
    })
</script>

<div id="suit-center" class="suit-column">
    <div class="row">
        {% with threads=user|get_messages_since_last_login %}
        {% if threads %}
        <div class="span5">
            <table class="table-overview applist" summary="#">
              <caption><a href="#" class="section"></a><h2>TICKETS SINCE LAST LOGIN</h2></caption>
                    {% for thread in threads %}
                        <tr>
                          <th scope="row">{{thread.screen_name}}</th>
                           <td> <a href="#" class="changelink icon"></a> </td>
                           <td>&nbsp;</td>
                           <td><a href="{% url 'admin:customerservice_thread_change' thread.pk %}" class="#">GO</a></td>
                           <td>&nbsp;</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
        {% endif %}
        {% endwith %}
        <div class="span3">
          <td>&nbsp;</td>
        <a class="twitter-timeline" width="300" height="500" data-chrome="nofooter noheader noscrollbar" href="https://twitter.com/apimtechtest" data-widget-id="589105970732740608">Tweets by @apimtechtest </a>

        </div>
        

        <div class="span5">
            <table class="table-overview applist" summary="#">
              <caption><a href="#" class="section"></a><h2>TICKETS BY STATUS</h2></caption>

                <tr>
                  <th scope="row">OPEN</th>
                   <td> <a href="#" class="changelink icon"></a> </td>
                   <td>&nbsp;</td>
                   <td><a href="{% url 'admin:customerservice_thread_changelist' %}?status__exact=OP" class="#">{{"OP"|get_thread_count}}</a></td>
                   <td>&nbsp;</td>

              </tr>
              <tr>
                  <th scope="row">PENDING</th>
                   <td> <a href="#" class="changelink icon"></a> </td>
                   <td>&nbsp;</td>
                   <td><a href="{% url 'admin:customerservice_thread_changelist' %}?status__exact=PE" class="#">{{"PE"|get_thread_count}}</a></td>
                   <td>&nbsp;</td>

              </tr>
              <tr>
                  <th scope="row">CLOSED</th>
                   <td> <a href="#" class="changelink icon"></a> </td>
                   <td>&nbsp;</td>
                   <td><a href="{% url 'admin:customerservice_thread_changelist' %}?status__exact=CL" class="#">{{"CL"|get_thread_count}}</a></td>
                   <td>&nbsp;</td>

              </tr>
            </table>
                
                <!--  Permissions: Este codigo es para traer no mostrarle a ciertos usuarios sin privilegios algo de html --> 
                {% for group in user.groups.all %}
                 
                  {% if group.name == "Supervisor"  or group.name == "Administrador" %}
                    
                    <div class="span5">
                      <canvas id="thread_chart" width="300" height="300" style="margin-left:46px;"></canvas>
                    </div>
                  
                  {% endif %}
                {% endfor %}
                <!--  final del codigo Permissions -->

        </div>
    </div>
    <div class="row">
        {% with bulletins=user|get_lastest_bulletins %}
        {% if bulletins %}
        <div class="span12">
            <table class="table-overview applist" summary="#">
                <caption><a href="#" class="section"></a><h2>LATEST NEWS</h2></caption>

                    {% for bulletin in bulletins %}
                <tr>
                                  <th scope="row">{{bulletin.user.username}}</th>
                   <td> <a href="#" class="changelink icon"></a> </td>
                   <td>&nbsp;</td>
                   <td>{{bulletin.text}}</td>
                   <td>&nbsp;</td>
                </tr>
                    {% endfor %}
            </table>
        </div>
        {% endif %}
        {% endwith %}
        {% with imp_bulletins=user|get_important_bulletins %}
        {% if imp_bulletins %}
        <div class="span12">
            <table class="table-overview applist" summary="#">
                <caption><a href="#" class="section"></a><h2>IMPORTANT NEWS</h2></caption>
                    {% for bulletin in imp_bulletins %}

                <tr>
                    <th scope="row">{{bulletin.user.username}}</th>
                   <td> <a href="#" class="changelink icon"></a> </td>
                   <td>&nbsp;</td>
                   <td>{{bulletin.text}}</td>
                   <td>&nbsp;</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% endwith %}

    </div>
</div>

{% endblock %}
